.MovieCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: rgb(32, 32, 32);
  width: 250px;
  height: 500px;
  border-radius: 10px;
  transition: all 0.3s;
  place-self: center;
}

.MovieCard:hover {
  filter: drop-shadow(0 0 1em #FFD700);
  transform: translate(0px, -10px);
  transition: all 0.3s;
}

.CardImg {
  height: 400px;
  width: 250px;
  border-radius: 10px;
  img {
    border-radius: 8px;
    height: 400px;
    width: 250px;
  }
}
.rating{
  p{
    margin-top: 5px;
  }
  justify-content: center;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.save{
  
  margin-top: 10px;
  margin-left: 10px;
  z-index: 2;
  position:relative ;
}
